@use "../../../../../styles/variables";

.storeCreateContainer,
.storeInfoContainer,
.storeEditContainer {
  height: calc(92vh - 30px);
  overflow: auto;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow: auto;
  white-space: nowrap;
}

.timeDetailsDeleteFlag {
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
}

.timeDetails {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
}

.companyInfo {
  width: 600px !important;
  padding: 1vh 1vw;
  margin: 2vh 0;
  border: variables.$light-border; // Replace with your borderStyle
}

.descriptionLabel {
  position: relative;
  bottom: 3vh;
  left: 1vw;
  background-color: #f1f2f3;
  border: variables.$light-border;
  width: 150px;
  text-align: center;
}

.basicInfo {
  padding: 1vh 1vw;
  margin: 3vh 0;
  border: variables.$light-border; // Replace with your borderStyle
}

.nameRow {
  display: flex;
  flex-direction: row;
  margin: 3vh 0;
  justify-content: space-between;
  gap: 1vw;
}

.addressContainer {
  display: flex;
  flex-direction: row;
  width: 500px;
}

.addressLabel {
  width: 50px;
}

.addressDetails {
  width: 400px;
}

.contactDetails {
  width: 500px;
}

.storeDetails {
  display: flex;
  flex-direction: row;
}

.pinCodeLabel,
.telLabel,
.faxLabel {
  width: 67px;
  display: inline-block;
  text-align: left;
}
