.administrator-list-navigate {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow: auto;
  white-space: nowrap;
}

.administrator-list-navigate-content {
  height: calc(92vh - 30px);
  overflow: auto;
}

.time-details {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
}

.company-store-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.store-info,
.company-info {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
  width: 45vw;
  border: 1px solid #ccc; // Replace with your borderStyle
}

.basic-info {
  padding: 1vh 1vw;
  margin: 2vh 0;
  border: 1px solid #ccc; // Replace with your borderStyle
}

.name-row {
  display: flex;
  flex-direction: row;
  margin: 3vh 0;
  justify-content: space-between;
  gap: 1vw;
}

.last-name,
.first-name {
  display: flex;
  flex-direction: column;
  width: 45vw;
}

.password-section {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  width: 45vw;
  border: 1px solid #ccc; // Replace with your borderStyle
}

.password-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vh;
}

.password-change {
  align-items: center;
  margin-top: 2vh;
}

.occupy-extreme-right {
  margin-left: auto;
}
