$border-style: 1px solid #ccc;

.admin-menu-nav-page {
  height: 100%;
  /* Adjust as needed */
  overflow-y: auto;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden; /* Hides any overflowed content */
  text-overflow: ellipsis;
  margin: 0 1vw;
}

.search-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  margin: 3vh 0;
  // transform: scaleY(0.7);
  // // scale: 0.7;
  // margin-top: -20px;
  // margin-bottom: -20px;
  // font-size: 1;
}

.search-label {
  position: relative;
  bottom: 3vh;
  left: 1vw;
  /* padding: 0 4px; */
  background-color: #f1f2f3;
  border: $border-style;
  width: 150px;
  text-align: center;
}

.select-range {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: -20px;
}

.translator-menu-button-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  .navigate-buttons {
    display: flex;
    flex-direction: column;
  }
}

// .companies-details {
//   display: flex;
//   align-items: flex-start;
//   gap: 2vw;
//   margin-top: -2vh;
// }

.move-top {
  margin-top: -2vh;
}

.margin-top {
  margin-top: 1vh;
}

.search-button {
  margin-left: auto;
  margin-top: auto;
}

.contract-details,
.interpreter-details,
.language-search-details,
.companies-details,
.admin-details,
.responders-search-container {
  display: flex;
  align-items: flex-start;
  gap: 2vw;
  // margin-top: 1vh;
}

.store-details {
  display: flex;
  // justify-content: space-between;
  align-items: flex-start;
  gap: 2vw;
  // margin-top: 2vh;
}

.company-store-details {
  display: flex;
  // justify-content: space-between;
  align-items: flex-start;
  gap: 2vw;
}

// .number-detail-column {
//   display: flex;
//   flex-direction: column;
//   margin-right: 1vw;

//   .margin-bottom {
//     margin-bottom: 1vh;
//   }
// }

// .name-detail-column {
//   display: flex;
//   flex-direction: column;

//   .margin-bottom {
//     margin-bottom: 1vh;
//   }
// }

// .2 {
//   display: flex;
//   gap: 2vw;
// }

.description-label {
  position: relative;
  bottom: 3vh;
  left: 1vw;
  background-color: #f1f2f3;
  border: $border-style;
  width: 150px;
  text-align: center;
}
