@use "../../../../../styles/variables";

.userContent {
  height: calc(94vh - 30px);
  overflow: auto;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow: auto;
  white-space: nowrap;
}

.timeDetailsDeleteFlag {
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
}

.timeDetails {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
}

.companyStoreInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.storeInfo,
.companyInfo {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
  width: 46vw;
  border: variables.$light-border; // Replace with your borderStyle
}

.descriptionLabel {
  position: relative;
  bottom: 3vh;
  left: 1vw;
  background-color: #f1f2f3;
  border: variables.$light-border;
  width: 150px;
  text-align: center;
}

.basicInfo {
  padding: 1vh 1vw;
  margin: 2vh 0;
  border: variables.$light-border; // Replace with your borderStyle
}

.nameRow,
.contactDetails {
  display: flex;
  flex-direction: row;
  margin: 3vh 0;
  // justify-content: space-between;
  gap: 1vw;
  // width: 45vw !important;
}

.lastName,
.mailAddress {
  display: flex;
  flex-direction: column;
  width: calc(40vw - 50px);
  // width: calc(30vw - 150px);
}

.firstName {
  display: flex;
  flex-direction: column;
  width: calc(50vw - 50px);
  margin-left: 16px;
}

.telDetails {
  display: flex;
  flex-direction: column;
  width: calc(50vw - 50px);
}

.telNo,
.telExtension {
  // display: inline-block;
  // // flex-direction: column;
  margin-left: 80px;
  // width: 150px;
}

.passwordMeetingInfo {
  display: flex;
  gap: 2vw;
}

.passwordInfo {
  padding: 1vh 1vw;
  margin: 3vh 0;
  width: 45vw;
  border: variables.$light-border; // Replace with your borderStyle
}

.passwordInput {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  margin-top: 2vh;
}

.passwordChange {
  align-items: center;
  margin-top: 2vh;
}

.meetingInfo {
  padding: 1vh 1vw;
  margin: 3vh 0;
  width: 45vw;
}

.meetingCredentials {
  display: flex;
  gap: 1vw;
}

.occupyExtremeRight {
  margin-left: auto;
}

.buttonContainer {
  margin-bottom: 1vh;
}
