.company-list-navigate {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow: auto;
  white-space: nowrap;
}

.company-list-navigate-content {
  height: calc(92vh - 30px);
  overflow: auto;
}

.time-details-delete-flag {
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
}

.time-details {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
}

.delete-flag {
}

.basic-info {
  padding: 1vh 1vw;
  margin: 2vh 0;
  border: 1px solid #ccc; // Replace with your borderStyle
}

.name-row {
  display: flex;
  flex-direction: row;
  margin: 3vh 0;
  justify-content: space-between;
  gap: 1vw;
}
