.interpreterMenuContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.navigateButtons {
  display: flex;
  flex-direction: column;
}

.activeStatusButtons {
  display: flex;
}
