.interpreters-list-navigate {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow: auto;
  white-space: nowrap;
}

.interpreters-list-navigate-content {
  height: calc(92vh - 30px);
  overflow: auto;
}

.time-details {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
}

.company-store-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100 !important;
}

.store-info,
.company-info {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
  width: 45vw !important;
  border: 1px solid #ccc; // Replace with your borderStyle
}

.basic-info {
  padding: 1vh 1vw;
  margin: 2vh 0;
  border: 1px solid #ccc; // Replace with your borderStyle
}

.name-row,
.contact-details {
  display: flex;
  flex-direction: row;
  margin: 3vh 0;
  justify-content: space-between;
  gap: 1vw;
  width: 45vw !important;
}

.last-name,
.first-name {
  display: flex;
  flex-direction: column;
  width: 45vw;
}

.contact-details {
  display: flex;
}

.contact-details {
  // display: flex;
  // flex-direction: row;
  margin: 3vh 0;
  // justify-content: space-between;

  // width: 100vw;
}

.tel-no,
.tel-extension {
  // display: flex;
  // flex-direction: column;
  margin-left: 25px;
}

.password-meeting-info {
  display: flex;
  gap: 2vw;
  // padding: 1vh 1vw;
  // margin: 3vh 0;
  // width: 45vw;
  // border: 1px solid #ccc; // Replace with your borderStyle
}

.password-info {
  padding: 1vh 1vw;
  margin: 3vh 0;
  width: 45vw;
  border: 1px solid #ccc; // Replace with your borderStyle
}

.password-input {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  margin-top: 2vh;
}

.password-change {
  align-items: center;
  margin-top: 2vh;
}

.meeting-info {
  padding: 1vh 1vw;
  margin: 3vh 0;
  width: 45vw;
}

.meeting-credentials {
  display: flex;
  gap: 1vw;
}

.occupy-extreme-right {
  margin-left: auto;
}
