$border-style: 1px solid #ccc;

.user-menu {
  .user-message {
    border: 1px solid black;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    margin: 20px;
  }
  .user-call-row {
    margin-left: 100px;
    display: flex;
    .timer {
      border: 1px solid black;
      padding: 10px;
    }
  }
}

.app-nav-bar {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-title {
  text-align: center;
  padding: 2vh 3vw;
  margin: 1vh 2vw;
  background-color: #b3cee5;
  border: 1px solid black;
}

.login-container {
  display: flex;
  justify-content: center; /* horizontally centers */
  align-items: center; /* vertically centers */
  // height: 100vh; /* or any height you prefer */
  gap: 2vh; /* space between items */
  flex-direction: column; /* stacks items vertically */
  //   // display: flex;

  //   display: flex;
  //   flex-direction: column;

  //   // /* Stack the groups vertically */
  //   gap: 16px;
  //   /* Space between the groups */

  //   .login-id {
  //     // display: inline-flex;
  //   }
  // }

  .login-button {
    margin-left: 200px;
  }
}

// .occupy-extreme-right {
//   margin-left: auto;
// }

.responder-menu-button-container {
  display: flex;
  justify-content: space-between;
  /* Space out left and right sections */
  align-items: flex-start;
  /* Align items to the start of the container */

  /* Full height for demo */
  padding: 20px;

  .list-column {
    display: flex;
    flex-direction: column;
  }
}
